window
{
    background-color: black;
    background-image: none;
}

button
{
    /* font: Helvetica; */
    color: rgb(0, 255, 0);
    border-radius: 100;
    outline-color: rgb(0, 255, 0);
}
label
{
    color:rgb(0, 255, 0);
}