* {
    font-family: "Roboto";
}

headerbar {
    background: black;
    border-width: 0;
    color: #00ff00;
}

headerbar:backdrop {
    background-image: linear-gradient(to bottom, shade(#000c00,1.2), shade(rgb(0, 0, 0), 0.8));
    border-width: 0;
    color: #000000;
}

window {
    background-color:black;
    background-image: none;
}

row {
	background: black;
}

button {
    color: rgb(0, 255, 0);
    /* outline-color: rgb(0, 255, 0); */
    background: #101010;
} 

button:active {
    background: rgb(78, 78, 78);
}

button:hover {
    background: #202020;
    /* border-color: #0f0; */
}

label {
    color:rgb(0, 255, 0);
}

entry {
    background: #202020;
    border-color: #001000;
    color: #00ff00;
    font-size: 14px;
}

entry:focus {
    border-color: #00ff00;
}

.message_own {
    padding: 6px 9px;
    margin-top: 10px;
    background-color: rgb(36, 36, 36);
    font-size: 14px;
    border-radius: 8px 8px 0 8px;
}

.message_received {
    padding: 6px 9px;
    margin-top: 10px;
    background-color: rgb(36, 36, 36);
    font-size: 14px;
    border-radius: 8px 8px 8px 0;
}

.stack_dialogs scrolledwindow,
.stack_dialogs viewport,
.stack_dialogs list {
    background: #101010;
}

.stack_messages scrolledwindow,
.stack_messages viewport,
.stack_messages list {
    background: #101010;
}

dialog {
    background: #333333;
    /* border: rgb(0, 255, 0); */
}

.auxiliary_windows box {
    background: #101010;
}

.window_log_out window {
    background: #101010;
}

headerbar {
    background-image: linear-gradient(to bottom, shade(#003300,1.5), shade(#000000, 0.8));
}

headerbar:backdrop {
    background-image: linear-gradient(to bottom, shade(#001100,1.5), shade(#000000, 0.8));
}

.choise_menu {
    background-color: black;
    background-image: url("https://i.pinimg.com/564x/31/00/de/3100de09ea931dee41c09eb32979182b.jpg");
    background-size: contain;
}
